@use 'var'; // you can also do < @use 'var' as v >
@use 'mixins';

.details {
    padding: 1.5rem;
    &__company {
        color: var.$Orange;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1px;
        margin-bottom: 0.75rem;
    }
    &__title {
        font-size: 1.7em;
        margin-bottom: 1rem;
    }
    &__description {
        font-size: 0.94em;
        color: var.$Dark-grayish-blue;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }
    &__prices {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    &__now {
        font-size: 1.8em;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__discount {
        font-size: 0.5em;
        background-color: var.$Pale-orange;
        color: var.$Orange;
        padding: 0.25rem;
        border: 0.25rem;
    }
    &__before {
        font-weight: 700;
        color: var.$Dark-grayish-blue;
        text-decoration: line-through;
    }
    &__button {
        @include mixins.button;
    }
    @media (min-width: 1115px) {
        width: 55.5%;
        padding-top: 7.4%;
        &__title {
            font-size: 2.7em;
            margin-bottom: 3rem;
        }
        &__description {
            font-size: 0.9em;
            margin-bottom: 2.25rem;
        }
        &__prices {
            flex-direction: column;
            align-items: flex-start;
        }
        &__product-quantity {
            display: flex;
            gap: 2rem;
        }
    }
}