@use 'var';
@use 'mixins';

.input {
    height: 7.7vh;
    display: flex;
    justify-content: space-between;
    background-color: var.$Light-grayish-blue;
    border-radius: 0.5rem;
    padding: 0 13px;

    &__minus {
        @include mixins.changeNumber(1.6rem, 0.1rem);
    }
    &__number {
        background-color: var.$Light-grayish-blue;
        width: 100%;
        border: none;
        font-size: 1.2em;
        font-weight: 700;
        font-family: var.$Font;
        text-align: center;
        outline: none;
    }
    &__plus {
        @include mixins.changeNumber(1.2rem, 0.2rem);
    }
}