@use 'var'
@use 'mixins'

.cart-modal 
    display: none
    width: 360px
    border-radius: 0.5rem
    box-shadow: 3px 3px 10px
    min-height: 260px
    top: 45px
    right: 65px
    position: absolute
    background-color: var.$White
    @media (min-width: 1150px)
        top: 70px
        right: 270px
        

    &__title 
        font-weight: 700
        padding: 1.5rem 
        border-bottom: 2px solid var.$Light-grayish-blue
    
    &__checkout-container 
        display: flex
        flex-flow: column
        padding: 1.5rem
        overflow-y: auto 
        max-height: 230px
        &::-webkit-scrollbar
            width: 8px
    
    &__details-container 
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 1.5rem
        color: var.$Dark-grayish-blue
        cursor: pointer
        border-radius: 10px
        padding: 1px 5px 1px 0
        &:last-child
            margin-bottom: 0
        &:hover
            background-color: var.$Pale-orange

    &__image 
        width: 17%
        border-radius: 0.25rem
        margin-right: 10px
    
    &__price span 
        color: var.$Black
        font-weight: 700
    
    &__delete:hover 
        cursor: pointer
        opacity: 0.6
    
    &__checkout 
        @include mixins.button
        width: 336px
        margin: auto
        margin-bottom: 0.5rem
        display: none

    &__checkout-link
        text-decoration: none