@use 'var';

.navbar {
    display: none;
    height: 100%;
    &__items {
        width: 400px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    &__link {
        text-decoration: none;
        color: var.$Dark-grayish-blue;
        display: block;
        height: 100%;
        padding-top: 5.1vh;
        &:hover {
            border-bottom: 4px solid var.$Orange;
        }
    }
    @media (min-width: 1115px) {
        display: block;
    }
}