@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.56vh;
  padding: 0 6.4% 0 0;
}
@media (min-width: 1115px) {
  .header {
    height: 12.5vh;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
}
.header__navigation {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 15px;
}
@media (min-width: 1115px) {
  .header__navigation {
    width: 55%;
    gap: 20px;
    margin-left: -10px;
  }
}
.header__menu:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .header__menu {
    display: none;
  }
}
.header__cart-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}
@media (min-width: 1115px) {
  .header__cart-avatar {
    width: 125px;
  }
}
.header__cart {
  position: relative;
}
.header__cart--notification {
  display: none;
  background-color: hsl(26, 100%, 55%);
  width: 15px;
  height: 12px;
  border-radius: 16px;
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 0.6em;
  font-weight: bold;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.header__cart:hover {
  cursor: pointer;
}
.header__avatar {
  width: 24px;
}
@media (min-width: 1115px) {
  .header__avatar {
    width: 48px;
  }
}
.header__avatar:hover {
  cursor: pointer;
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

.navbar {
  display: none;
  height: 100%;
}
.navbar__items {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.navbar__link {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  display: block;
  height: 100%;
  padding-top: 5.1vh;
}
.navbar__link:hover {
  border-bottom: 4px solid hsl(26, 100%, 55%);
}
@media (min-width: 1115px) {
  .navbar {
    display: block;
  }
}

.modal-navbar {
  background-color: hsl(0, 0%, 100%);
  width: 250px;
  height: 100%;
  position: absolute;
  padding: 18px 80px;
}
.modal-navbar__background {
  display: none;
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal-navbar__items {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 28vh;
  list-style: none;
  margin-top: 25%;
}
.modal-navbar__link {
  text-decoration: none;
  color: hsl(220, 13%, 13%);
  font-size: 1.1em;
  font-weight: 700;
}
.modal-navbar__close-icon:hover {
  cursor: pointer;
}
@media (min-width: 1150px) {
  .modal-navbar {
    display: none;
  }
}

.gallery__image-container {
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url("./images/image-product-1.jpg");
  background-size: cover;
}
.gallery__image-container:hover {
  cursor: pointer;
}
.gallery__previous {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 15px;
}
.gallery__previous:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__previous {
    top: 200px;
  }
}
@media (min-width: 1150px) {
  .gallery__previous {
    background-color: hsl(0, 0%, 100%);
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left: 10px;
  }
  .gallery__previous:hover {
    cursor: pointer;
  }
}
@media (min-width: 1150px) and (min-width: 1115px) {
  .gallery__previous {
    top: 200px;
  }
}
.gallery__next {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 320px;
}
.gallery__next:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__next {
    top: 200px;
  }
}
@media (min-width: 1150px) {
  .gallery__next {
    background-color: hsl(0, 0%, 100%);
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left: 396px;
  }
  .gallery__next:hover {
    cursor: pointer;
  }
}
@media (min-width: 1150px) and (min-width: 1115px) {
  .gallery__next {
    top: 200px;
  }
}
.gallery__thumbnails {
  display: none;
}
@media (min-width: 1150px) {
  .gallery__thumbnails {
    display: flex;
    justify-content: space-between;
  }
}
.gallery__thumbnail {
  width: 90px;
  border-radius: 1rem;
}
.gallery__thumbnail:hover {
  cursor: pointer;
  border: 2px solid hsl(26, 100%, 55%);
}
@media (min-width: 1115px) {
  .gallery__image-container {
    width: 446px;
    border-radius: 1rem;
    height: 446px;
    margin-bottom: 2rem;
  }
}

.details {
  padding: 1.5rem;
}
.details__company {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
}
.details__title {
  font-size: 1.7em;
  margin-bottom: 1rem;
}
.details__description {
  font-size: 0.94em;
  color: hsl(219, 9%, 45%);
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.details__prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.details__product-quantity {
  display: flex;
  flex-flow: column;
  gap: 0.3rem;
}
.details__now {
  font-size: 1.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.details__discount {
  font-size: 0.5em;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 0.25rem;
  border: 0.25rem;
}
.details__before {
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
}
.details__button {
  background-color: hsl(26, 100%, 55%);
  width: 100%;
  padding: 5px;
  height: 3.5625rem;
  border-radius: 0.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.details__button:hover {
  cursor: pointer;
  opacity: 0.85;
}
@media (min-width: 1115px) {
  .details {
    width: 55.5%;
    padding-top: 5.4%;
  }
  .details__title {
    font-size: 2.7em;
    margin-bottom: 3rem;
  }
  .details__description {
    font-size: 0.9em;
    margin-bottom: 2.25rem;
  }
  .details__prices {
    flex-direction: column;
    align-items: flex-start;
  }
  .details__product-quantity {
    display: flex;
    gap: 2rem;
  }
}

.input {
  height: 7.7vh;
  display: flex;
  justify-content: space-between;
  background-color: hsl(223, 64%, 98%);
  border-radius: 0.5rem;
  padding: 0 13px;
}
.input__minus {
  width: 1.5rem;
  height: 100%;
  padding: 1.6rem 0.1rem;
}
.input__minus:hover {
  cursor: pointer;
}
.input__number {
  background-color: hsl(223, 64%, 98%);
  width: 100%;
  border: none;
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  outline: none;
}
.input__plus {
  width: 1.5rem;
  height: 100%;
  padding: 1.2rem 0.2rem;
}
.input__plus:hover {
  cursor: pointer;
}

.cart-modal {
  display: none;
  width: 360px;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 10px;
  min-height: 260px;
  top: 50px;
  right: 195px;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
}
@media (min-width: 1150px) {
  .cart-modal {
    top: 80px;
    right: 270px;
  }
}
.cart-modal__title {
  font-weight: 700;
  padding: 1.5rem;
  border-bottom: 2px solid hsl(223, 64%, 98%);
}
.cart-modal__checkout-container {
  display: flex;
  flex-flow: column;
  padding: 1.5rem;
  overflow-y: auto;
  max-height: 230px;
}
.cart-modal__checkout-container::-webkit-scrollbar {
  width: 8px;
}
.cart-modal__details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  color: hsl(219, 9%, 45%);
}
.cart-modal__details-container:last-child {
  margin-bottom: 0;
}
.cart-modal__image {
  width: 17%;
  border-radius: 0.25rem;
}
.cart-modal__price span {
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.cart-modal__delete:hover {
  cursor: pointer;
}
.cart-modal__checkout {
  background-color: hsl(26, 100%, 55%);
  width: 100%;
  padding: 5px;
  height: 3.5625rem;
  border-radius: 0.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 336px;
  margin: auto;
  margin-bottom: 0.5rem;
}
.cart-modal__checkout:hover {
  cursor: pointer;
  opacity: 0.85;
}

.modal-gallery {
  width: 550px;
  height: 100%;
}
.modal-gallery__background {
  display: none;
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  place-content: center;
}
.modal-gallery__close-container {
  text-align: right;
  height: 30px;
}
.modal-gallery__close {
  width: 1rem;
}
.modal-gallery__close:hover {
  cursor: pointer;
  content: url("../images/icon-close-white.svg");
}
.modal-gallery__image-container {
  position: relative;
  background-image: url("./images/image-product-1.jpg");
  height: 446px;
  background-size: cover;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.modal-gallery__thumbnails {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: auto;
}
.modal-gallery__thumbnail {
  width: 90px;
  border-radius: 1rem;
}
.modal-gallery__thumbnail:hover {
  cursor: pointer;
  border: 2px solid hsl(26, 100%, 55%);
}
.modal-gallery__previous {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: -20px;
}
.modal-gallery__previous:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .modal-gallery__previous {
    top: 200px;
  }
}
.modal-gallery__next {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 525px;
}
.modal-gallery__next:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .modal-gallery__next {
    top: 200px;
  }
}

.main-container {
  width: 375px;
  margin: auto;
}
@media (min-width: 1115px) {
  .main-container {
    width: 77.3vw;
    height: 95vh;
  }
}

@media (min-width: 1115px) {
  .content {
    display: flex;
    padding: 3vh 50px;
    gap: 124px;
  }
}

body {
  position: relative;
  height: 110vh;
}
@media (min-width: 1150px) {
  body {
    overflow: hidden;
  }
}
@media (max-height: 720px) {
  body {
    overflow: auto;
  }
}

.show {
  display: block;
}

.cart-empty {
  color: hsla(0, 0%, 0%, 0.5);
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 1150px) {
  .attribution {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}
@media (max-height: 720px) {
  .attribution {
    display: none;
  }
}

::selection {
  background-color: hsl(220, 13%, 13%);
  color: hsl(223, 64%, 98%);
}

/*# sourceMappingURL=main.css.map */
