<body>
  <main class="main-container">
    <header class="header">
      <div class="header__navigation">
        <img class="header__menu" src="./images/icon-menu.svg" alt="menu icon">
        <a href="/#"><img class="header__logo" src="./images/logo.svg" alt="logo"></a>
      
        <nav class="navbar">
          <ul class="navbar__items">
            <li><a href="#collections" class="navbar__link">Collections</a></li>
            <li><a href="#collections/men" class="navbar__link">Men</a></li>
            <li><a href="#collections/women" class="navbar__link">Women</a></li>
            <li><a href="https://github.com/vegadelalyra" target="_blank" rel="noopener noreferrer" class="navbar__link">About</a></li>
            <li><a href="https://www.linkedin.com/in/vegadelalyra/" target="_blank" rel="noopener noreferrer" class="navbar__link">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="header__cart-avatar">
        <img class="header__avatar" src="./images/image-avatar.png" alt="avatar">
      </div>
    </header>
    
      <!-- modal navbar [beginning] -->
      <div class="modal-navbar__background">
        <nav class="modal-navbar">
          <img class="modal-navbar__close-icon" src="./images/icon-close.svg" alt="">
          <ul class="modal-navbar__items">
            <li><a href="#collections" class="modal-navbar__link">Collections</a></li>
            <li><a href="#collections/men" class="modal-navbar__link">Men</a></li>
            <li><a href="#collections/women" class="modal-navbar__link">Women</a></li>
            <li><a href="https://github.com/vegadelalyra" target="_blank" rel="noopener noreferrer" class="modal-navbar__link">About</a></li>
            <li><a href="https://www.linkedin.com/in/vegadelalyra/" target="_blank" rel="noopener noreferrer" class="modal-navbar__link">Contact</a></li>
          </ul>
        </nav>
      </div>
      <!-- modal navbar [ending] -->

    <!-- checkout modal [beginning] -->
    <article class="container">
    
        <!-- <h1 class="heading">
            <ion-icon name="cart-outline"></ion-icon> Shopping Cart
        </h1> -->
    
        <div class="item-flex">
            <!-- checkout section -->
            <section class="checkout">
    
                <h1 class="section-heading">
                    <ion-icon name="cart-outline"></ion-icon> Payment Details
                </h1>
                
                <div class="payment-form">
                    <div class="payment-method">
                        <button class="method selected" id="card">
                            <ion-icon name="card"></ion-icon>
                            <span>Credit Card</span>
                            <ion-icon class="checkmark fill" name="checkmark-circle"></ion-icon>
                        </button>
                        
                        <button class="method" id="paypal">
                            <ion-icon name="logo-paypal"></ion-icon>
                            <span>PayPal</span>
                            <ion-icon class="checkmark" name="checkmark-circle-outline"></ion-icon>
                        </button>
                    </div> 
    
                    <form action="#">
                        
                        <div class="cardholder-name">
                            <label for="cardholder-name" class="label-default">Cardholder name</label>
                            <input type="text" name="cardholder-name" id="cardholder-name" class="input-default" placeholder="ex. Harry Hooniggens">
                        </div>

                        <div class="card-ssn">
                            <label for="card-ssn" class="label-default">Cardholder SSN</label>
                            <input type="ssn" name="card-ssn" id="card-ssn" class="input-default" placeholder="123456789">
                        </div>

                        <div class="card-number">
                            <label for="card-number" class="label-default">Card number</label>
                            <input type="number" name="card-number" id="card-number" class="input-default" placeholder="1234567890XXXYYY">
                        </div>
    
                        <div class="input-flex" id="card-expire-date">
                            <div class="expire-date">
                                <div class="expire-date-labels">
                                    <label for="expire-date-dd" class="label-default">Day exp</label>
                                    <label for="expire-date-mm" class="label-default">Month exp</label>
                                </div>
                                <div class="input-flex">
                                    <input type="number" name="day" id="expire-date-dd" placeholder="31" min="1" max="31" class="input-default">
                                    /<input type="number" name="month" id="expire-date-mm" placeholder="12" min="1" max="12" class="input-default">
                                </div>
                            </div>
    
                            <div class="cvv">
                                <label for="cvv" class="label-default">CVV</label>
                                <input type="number" name="cvv" id="cvv" class="input-default" placeholder="XXXX">
                            </div>
                        </div>
                    </form>
    
                </div>
    
                <button class="btn btn-primary">
                    <b>Pay</b> $ <span id="payAmount">2.15</span>
                </button>
    
            </section>
    
            <!-- cart section -->
            <section class="cart">
                <div class="cart-item-box">
                    <h2 class="section-heading">Order Summary</h2>

                    <aside class="cart-products">
                        <div class="product-card">
                            <div class="card">
                                <div class="img-box">
                                    <img src="./src\frontend\checkoutForm\cabbage.jpg" class="product-img" alt="Green Tomatoes" width="80px">
                                </div>
                                <div class="detail">
                                    <h4 class="product-name">Green Tomatoes 1 kilo</h4>
                                    <div class="wrapper">
                                        <div class="product-qty">
                                            <button id="decrement">
                                                <ion-icon name="remove-outline"></ion-icon>
                                            </button>
                                            <span id="quantity">1</span>
                                            <button id="increment">
                                                <ion-icon name="add-outline"></ion-icon>
                                            </button>
                                        </div>
                                        <div class="price">
                                            $ <span id="price">1.25</span>
                                        </div>
                                    </div>
                                </div>
                                <button id="product-close-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="card">
                                <div class="img-box">
                                    <img src="src\frontend\checkoutForm\cabbage.jpg" class="product-img" alt="Green Tomatoes" width="80px">
                                </div>
                                <div class="detail">
                                    <h4 class="product-name">Green Tomatoes 1 kilo</h4>
                                    <div class="wrapper">
                                        <div class="product-qty">
                                            <button id="decrement">
                                                <ion-icon name="remove-outline"></ion-icon>
                                            </button>
                                            <span id="quantity">1</span>
                                            <button id="increment">
                                                <ion-icon name="add-outline"></ion-icon>
                                            </button>
                                        </div>
                                        <div class="price">
                                            $ <span id="price">1.25</span>
                                        </div>
                                    </div>
                                </div>
                                <button id="product-close-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="card">
                                <div class="img-box">
                                    <img src="src\frontend\checkoutForm\cabbage.jpg" class="product-img" alt="Cabbage" width="80px">
                                </div>
                                <div class="detail">
                                    <h4 class="product-name">Cabbage 1 Pcs</h4>
                                    <div class="wrapper">
                                        <div class="product-qty">
                                            <button id="decrement">
                                                <ion-icon name="remove-outline"></ion-icon>
                                            </button>
                                            <span id="quantity">1</span>
                                            <button id="increment">
                                                <ion-icon name="add-outline"></ion-icon>
                                            </button>
                                        </div>
                                        <div class="price">
                                            $ <span id="price">0.8</span>
                                        </div>
                                    </div>
                                </div>
                                <button id="product-close-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="card">
                                <div class="img-box">
                                    <img src="src\frontend\checkoutForm\cabbage.jpg" class="product-img" alt="Cabbage" width="80px">
                                </div>
                                <div class="detail">
                                    <h4 class="product-name">Cabbage 1 Pcs</h4>
                                    <div class="wrapper">
                                        <div class="product-qty">
                                            <button id="decrement">
                                                <ion-icon name="remove-outline"></ion-icon>
                                            </button>
                                            <span id="quantity"></span>
                                            <button id="increment">
                                                <ion-icon name="add-outline"></ion-icon>
                                            </button>
                                        </div>
                                        <div class="price">
                                            $ <span id="price">0.8</span>
                                        </div>
                                    </div>
                                </div>
                                <button id="product-close-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </div>
                        </div>
                    </aside>

                    
                </div>
    
                <div class="wrapper">
                    <!-- <div class="discount-token">
                        <label for="token" class="label-default">Gift card/Discount code</label>
                        <div class="wrapper-flex">
                            <input type="text" name="discount-token" id="discount-token" class="input-default">
                            <button class="btn btn-outline">Apply</button>
                        </div>
                    </div> -->
    
                    <div class="amount">
                        <div class="subtotal">
                            <span>Subtotal</span><span>$ <span id="subtotal">2.05</span></span>
                        </div>
    
                        <div class="tax">
                            <span>Tax</span><span>$ <span id="tax">0.10</span></span>
                        </div>
    
                        <div class="shipping">
                            <span>Shipping</span><span>$ <span id="shipping">0.00</span></span>
                        </div>
    
                        <div class="total">
                            <span>Total</span><span>$ <span id="total">2.15</span></span>
                        </div>
                    </div>
    
                    
                </div>
            </section>
    
        </div>
            
    </article>
      <!-- checkout modal [ending] -->

  </main>

  <footer class="attribution">
    <p>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" rel="noopener noreferrer">Frontend Mentor</a>. </p>
     <p>Coded by <a href="https://github.com/vegadelalyra" target="_blank" rel="noopener noreferrer">Daniel Vega</a>.</p>
  </footer>

  <!-- <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> -->
  <!-- adding CDNs on others HTMl won't work 
  for security policies on HTML.
  If any, add them to the index html. -->
</body>