<body>
  <div class="preloader__container">
    <img class="preloader" src="./images/logo.svg" alt="sneakers">
  </div>
      <main class="main-container">
        <header class="header">
          <div class="header__navigation">
            <img class="header__menu" src="./images/icon-menu.svg" alt="menu icon">
            <a href="/#"><img class="header__logo" src="./images/logo.svg" alt="logo"></a>
          
            <nav class="navbar">
              <ul class="navbar__items">
                <li><a href="#collections" class="navbar__link">Collections</a></li>
                <li><a href="#collections/men" class="navbar__link">Men</a></li>
                <li><a href="#collections/women" class="navbar__link">Women</a></li>
                <li><a href="https://github.com/vegadelalyra" target="_blank" rel="noopener noreferrer" class="navbar__link">About</a></li>
                <li><a href="https://www.linkedin.com/in/vegadelalyra/" target="_blank" rel="noopener noreferrer" class="navbar__link">Contact</a></li>
              </ul>
            </nav>
          </div>

      <div class="header__cart-avatar">
        <div class="header__cart">
          <div class="header__cart--notification">0</div>
          <img src="/images/icon-cart.svg" alt="cart">
        </div>
        <img class="header__avatar" src="/images/image-avatar.png" alt="avatar">
      </div>
    </header>

    <section class="content-container">

    </section>

      <!-- modal navbar [beginning] -->
      <div class="modal-navbar__background">
        <nav class="modal-navbar">
          <img class="modal-navbar__close-icon" src="./images/icon-close.svg" alt="">
          <ul class="modal-navbar__items">
            <li><a href="/" class="modal-navbar__link">Home</a></li>
            <li><a href="#men" class="modal-navbar__link">Men</a></li>
            <li><a href="#women" class="modal-navbar__link">Women</a></li>
            <li><a href="https://github.com/vegadelalyra" target="_blank" rel="noopener noreferrer" class="modal-navbar__link">About</a></li>
            <li><a href="https://www.linkedin.com/in/vegadelalyra/" target="_blank" rel="noopener noreferrer" class="modal-navbar__link">Contact</a></li>
          </ul>
        </nav>
      </div>
      <!-- modal navbar [ending] -->
    </main>

  </main>
  <!-- cart modal [beginning] -->
  <div class="cart-modal">
    <p class="cart-modal__title">Cart</p>
      <div class="cart-modal__checkout-container">
        <p class="cart-empty">Your cart is empty</p>
      </div>
      <a href="#checkout" class="cart-modal__checkout-link">
        <button class="cart-modal__checkout">Checkout</button>
      </a>
  </div>
  <!-- cart modal [ending] -->

  <footer class="attribution">
    <p>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" rel="noopener noreferrer">Frontend Mentor</a>. </p>
     <p>Coded by <a href="https://github.com/vegadelalyra" target="_blank" rel="noopener noreferrer">Daniel Vega</a>.</p>
  </footer>
</body>
</html>