<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="main.css">
  
  <title>Frontend Mentor | E-commerce product page</title>

  <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script defer type="module" src="./main.js"></script>

</head>
<body>

  <main class="main-container">
    <header class="header">
      <div class="header__navigation">
        <img class="header__menu" src="./images/icon-menu.svg" alt="menu icon">
        <img class="header__logo" src="./images/logo.svg" alt="logo">
      
        <nav class="navbar">
          <ul class="navbar__items">
            <li><a href="#" class="navbar__link">Collections</a></li>
            <li><a href="#" class="navbar__link">Men</a></li>
            <li><a href="#" class="navbar__link">Women</a></li>
            <li><a href="https://github.com/vegadelalyra" target="_blank" rel="noopener noreferrer" class="navbar__link">About</a></li>
            <li><a href="https://www.linkedin.com/in/vegadelalyra/" target="_blank" rel="noopener noreferrer" class="navbar__link">Contact</a></li>
          </ul>
        </nav>
      </div>


      <div class="header__cart-avatar">
        <div class="header__cart">
          <div class="header__cart--notification">0</div>
          <img src="./images/icon-cart.svg" alt="cart">
        </div>
        <img class="header__avatar" src="./images/image-avatar.png" alt="avatar">
      </div>
    </header>

    <section class="content">
      <article class="gallery">
        <div class="gallery__image-container">
          <img class="gallery__previous" src="./images/icon-previous.svg" alt="previous">
          <img class="gallery__next" src="./images/icon-next.svg" alt="next">
        </div>
        <div class="gallery__thumbnails">
          <img id="1" class="gallery__thumbnail active" src="https://res.cloudinary.com/vegadelalyra/image/upload/c_thumb,w_200,g_face/v1689613379/sprint2/image-product-1.jpg" alt="thumbnail">
          <img id="2" class="gallery__thumbnail" src="https://res.cloudinary.com/vegadelalyra/image/upload/c_thumb,w_200,g_face/v1689613379/sprint2/image-product-2.jpg" alt="thumbnail">
          <img id="3" class="gallery__thumbnail" src="https://res.cloudinary.com/vegadelalyra/image/upload/c_thumb,w_200,g_face/v1689613379/sprint2/image-product-3.jpg" alt="thumbnail">
          <img id="4" class="gallery__thumbnail" src="https://res.cloudinary.com/vegadelalyra/image/upload/c_thumb,w_200,g_face/v1689613379/sprint2/image-product-4.jpg" alt="thumbnail">
        </div>
      </article>

      <article class="details">
        <h2 class="details__company">Sneaker Company</h2>
        <h2 class="details__title">Fall Limited Edition Sneakers</h2>
        <p class="details__description">These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole, they’ll withstand everything the weather can offer.</p>
        <div class="details__prices">
          <p class="details__now">$125.00<span class="details__discount">50%</span></p>
          <p class="details__before">$250.00</p>
        </div>
        <div class="details__product-quantity">
          <div class="input">
            <img class="input__minus" src="./images/icon-minus.svg" alt="minus">
            <input class="input__number" type="text" value="0">
            <img class="input__plus" src="./images/icon-plus.svg" alt="plus">
          </div>
          <button class="details__button disabled" disabled> <img src="./images/icon-cart-white.svg" alt="cart" >Add to cart</button>
        </div>
      </article>

    </section>
    
      <!-- modal navbar [beginning] -->
      <div class="modal-navbar__background">
        <nav class="modal-navbar">
          <img class="modal-navbar__close-icon" src="./images/icon-close.svg" alt="">
          <ul class="modal-navbar__items">
            <li><a href="#" class="modal-navbar__link">Collections</a></li>
            <li><a href="#" class="modal-navbar__link">Men</a></li>
            <li><a href="#" class="modal-navbar__link">Women</a></li>
            <li><a href="https://github.com/vegadelalyra" target="_blank" rel="noopener noreferrer" class="modal-navbar__link">About</a></li>
            <li><a href="https://www.linkedin.com/in/vegadelalyra/" target="_blank" rel="noopener noreferrer" class="modal-navbar__link">Contact</a></li>
          </ul>
        </nav>
      </div>
      <!-- modal navbar [ending] -->

    </main>
    <!-- cart modal [beginning] -->
    <div class="cart-modal">
      <p class="cart-modal__title">Cart</p>
        <div class="cart-modal__checkout-container">
          <p class="cart-empty">Your cart is empty</p>
        </div>
          <button class="cart-modal__checkout">Checkout</button>
    </div>
    <!-- cart modal [ending] -->

  <!-- gallery modal [beginning] -->
  <div class="modal-gallery__background">
  <article class="modal-gallery">
    <div class="modal-gallery__close-container">
      <img class="modal-gallery__close" src="./images/icon-close.svg" alt=""> 
    </div>
    <div class="modal-gallery__image-container">
      <img class="modal-gallery__previous" src="./images/icon-previous.svg" alt="previous">
      <img class="modal-gallery__next" src="./images/icon-next.svg" alt="next">
    </div>
    <div class="modal-gallery__thumbnails">
      <img id="m1" class="modal-gallery__thumbnail active" src="https://res.cloudinary.com/vegadelalyra/image/upload/c_thumb,w_200,g_face/v1689613379/sprint2/image-product-1.jpg" alt="thumbnail">
      <img id="m2" class="modal-gallery__thumbnail" src="https://res.cloudinary.com/vegadelalyra/image/upload/c_thumb,w_200,g_face/v1689613379/sprint2/image-product-2.jpg" alt="thumbnail">
      <img id="m3" class="modal-gallery__thumbnail" src="https://res.cloudinary.com/vegadelalyra/image/upload/c_thumb,w_200,g_face/v1689613379/sprint2/image-product-3.jpg" alt="thumbnail">
      <img id="m4" class="modal-gallery__thumbnail" src="https://res.cloudinary.com/vegadelalyra/image/upload/c_thumb,w_200,g_face/v1689613379/sprint2/image-product-4.jpg" alt="thumbnail">
    </div>
  </article>
  </div>
  <!-- gallery modal [ending] -->

  <footer class="attribution">
    <p>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" rel="noopener noreferrer">Frontend Mentor</a>. </p>
     <p>Coded by <a href="https://github.com/vegadelalyra" target="_blank" rel="noopener noreferrer">Daniel Vega</a>.</p>
  </footer>
</body>
</html>